In [68]:
# 以数据分析的思路来想象一下，假设我们获取到了某一个公司的员工相关数据，会发生哪些事情
# 姓名、性别、联系方式、入职时间、入职等级、基本薪资、福利情况
# 晋升时间点、晋升职级、薪资调整情况、员工职位、离职时间

In [69]:
import pandas as pd
import numpy
import os

In [70]:
os.getcwd()
os.chdir(r'D:\greedyai\hw1\pandas资料')

In [71]:
os.getcwd()

'D:\\greedyai\\hw1\\pandas资料'

In [72]:
# 导入数据并把数据读取出来
df = pd.read_csv('salaries.csv')
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [73]:
# 删除Id这一列
df.columns
df.drop('Id',axis = 1, inplace=True)

In [74]:
df.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [76]:
# 把所有列的名字改成中文，方便后续使用
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [77]:
df.columns = ['员工姓名','岗位','底薪','加班费','其他工资','福利','总工资','总福利','年份','备注','代理','状态']

In [78]:
df.columns

Index(['员工姓名', '岗位', '底薪', '加班费', '其他工资', '福利', '总工资', '总福利', '年份', '备注', '代理',
       '状态'],
      dtype='object')

In [79]:
df.head()

,员工姓名,岗位,底薪,加班费,其他工资,福利,总工资,总福利,年份,备注,代理,状态
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [80]:
# 查看"员工姓名"这一列数据
df['员工姓名']

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650         Not provided
148651         Not provided
148652         Not provided
148653            Joe Lopez
Name: 员工姓名, Length: 148654, dtype: object

In [81]:
# 查看数据详情
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   员工姓名    148654 non-null  object
 1   岗位      148654 non-null  object
 2   底薪      148045 non-null  float64
 3   加班费     148650 non-null  float64
 4   其他工资    148650 non-null  float64
 5   福利      112491 non-null  float64
 6   总工资     148654 non-null  float64
 7   总福利     148654 non-null  float64
 8   年份      148654 non-null  int64
 9   备注      0 non-null       float64
 10  代理      148654 non-null  object
 11  状态      0 non-null       float64
dtypes: float64(8), int64(1), object(3)
memory usage: 13.6+ MB

In [82]:
#1、查看入职年份都有几个(值有多少种)
df['年份'].value_counts()

2014    38123
2013    37606
2012    36766
2011    36159
Name: 年份, dtype: int64

In [83]:
# 计算平均工资
df['总工资'].mean()
df['底薪'].mean()

66325.44884050643

In [84]:
# 加班工资最高的金额是多少
df['加班费'].max()

245131.88

In [85]:
# 人名是GARY JIMENEZ的基本工资有多少
df[df['员工姓名']=='GARY JIMENEZ']['底薪']

1    155966.02
Name: 底薪, dtype: float64

In [86]:
# 收入最高的人是谁（总共支付加福利）
df['总共支付加福利'] = df['总工资']+df['福利']
df[df['总共支付加福利']==df['总共支付加福利'].max()][['员工姓名','总工资']].reset_index(drop =True)

          员工姓名        总工资
0  David Shinn  471952.64

In [87]:
# 收入最低的人是谁（总共支付加福利）
df[df['总共支付加福利']==df['总共支付加福利'].min()][['员工姓名','总工资']].reset_index(drop =True)

        员工姓名     总工资
0  Joe Lopez -618.13

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   员工姓名     148654 non-null  object
 1   岗位       148654 non-null  object
 2   底薪       148045 non-null  float64
 3   加班费      148650 non-null  float64
 4   其他工资     148650 non-null  float64
 5   福利       112491 non-null  float64
 6   总工资      148654 non-null  float64
 7   总福利      148654 non-null  float64
 8   年份       148654 non-null  int64
 9   备注       0 non-null       float64
 10  代理       148654 non-null  object
 11  状态       0 non-null       float64
 12  总共支付加福利  112491 non-null  float64
dtypes: float64(9), int64(1), object(3)
memory usage: 14.7+ MB

In [89]:
# 每年所有员工的平均的基本工资是多少
df.groupby('年份')['底薪'].mean()

年份
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: 底薪, dtype: float64

In [90]:
# 任职人数最多的5个岗位    (排序) 正序和倒序
df.groupby('岗位')['员工姓名'].count().sort_values(ascending= False)

岗位
Transit Operator                          7036
Special Nurse                             4389
Registered Nurse                          3736
Public Svc Aide-Public Works              2518
Police Officer 3                          2421
                                          ...
DIRECTOR, EMPLOYEE RELATIONS DIVISION        1
DIRECTOR, FISCAL SERVICES                    1
DIRECTOR, HUMAN RESOURCES                    1
DIRECTOR, INFORMATION TECHNOLOGY GROUP       1
ZOO CURATOR                                  1
Name: 员工姓名, Length: 2159, dtype: int64

In [91]:
# value_counts()是值计数统计
df['岗位'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: 岗位, dtype: int64

In [92]:
# 这个机构有多少个工作岗位
df['岗位'].nunique()

2159

In [93]:
# 2014年有多少个职位只由一个人担任
sum(df[df['年份']==2014].groupby('岗位')['员工姓名'].count()==1)

175

In [118]:
test = df.groupby('岗位')['员工姓名'].count()==1
position_true=test[test]
a=position_true.index.tolist()
df[df['岗位'].isin(a)]

,员工姓名,岗位,底薪,加班费,其他工资,福利,总工资,总福利,年份,备注,代理,状态,总共支付加福利
7,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN,NaN
9,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN,NaN
25,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.0,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN,NaN
36,SUSAN CURRIN,"ADMINISTRATOR, SFGH MEDICAL CENTER",245124.44,0.0,12000.00,NaN,257124.44,257124.44,2011,NaN,San Francisco,NaN,NaN
73,MONIQUE MOYER,PORT DIRECTOR,233357.28,0.0,0.00,NaN,233357.28,233357.28,2011,NaN,San Francisco,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138291,Lawrence J O'Donnell,Marina Associate Manager,34764.00,0.0,0.00,19235.12,34764.00,53999.12,2014,NaN,San Francisco,NaN,53999.12
140364,Dennis M Doyle,"Sr Cnselor, Juv Hall (SFERS)",31491.03,0.0,80.20,0.00,31571.23,31571.23,2014,NaN,San Francisco,NaN,31571.23
141362,Jeffery J Hackett,Forensic Toxicologist Supervis,17087.00,0.0,276.14,5788.74,17363.14,23151.88,2014,NaN,San Francisco,NaN,23151.88
146498,Donald R Maffei,Conversion,0.00,0.0,3361.44,0.00,3361.44,3361.44,2014,NaN,San Francisco,NaN,3361.44
147293,Miao Hong Huang,Cashier 3,0.00,0.0,2074.60,0.00,2074.60,2074.60,2014,NaN,San Francisco,NaN,2074.60

In [117]:
len(a)

239

In [ ]:
a=tests.index.tolist()
a